---
layout: default
---
{% include header.html section="docs" %}
<div class="flex flex-grow">
  <div class="flex-shrink-0 flex flex-col w-1/6 bg-gray-300 py-4 pl-12">
    {% assign docs_list = site.docs | group_by: 'category' | sort: 'category_index' %}
    {% for cat in docs_list %}
      <p class="text-xl font-fira">{{ cat.name }}</p>
      <ul class="pl-4 mb-4">
        {% assign items = cat.items | sort: 'index' %}
        {% for item in items %}
          {% if page.url == item.url %}
            <li class="text-blue-600"><a href="{{item.url}}">{{item.title}}</a></li>
          {% else %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <div class="flex-grow px-12 py-6">
    <p class="font-slab text-4xl underline">{{ page.title }}</p>
    <article class="markdown-body mt-2">
      {{ content }}
    </article>
  </div>
</div>

